pandas
numpy
openai
streamlit
fastapi
uvicorn
plotly
scipy
statsmodels
scikit-learn
lightgbm
tslearn
spacy
textblob
psutil
kaleido
openpyxl
datarobot
snowflake-connector-python
instructor
pydantic
pydantic-settings
eval_type_backport
snowflake-sqlalchemy==1.5.1
sqlalchemy==1.4.49