pandas
numpy
openai
streamlit
st-theme>=1.2.3,<2
fastapi
uvicorn
plotly
scipy
statsmodels
scikit-learn
lightgbm
tslearn
spacy
textblob
psutil
kaleido
openpyxl
datarobot
snowflake-connector-python
instructor
pydantic<2.8.0
pydantic-settings==2.4.0
llvmlite>=0.43.0

joblib==1.4.2

eval_type_backport
snowflake-sqlalchemy
sqlalchemy
anthropic
google-cloud-bigquery
google-auth
db-dtypes